div#header
    div(class='row h-100')
        div#headerNavSelectorContainer(class='d-none d-md-block')
            div
        nav#headerNavLeft(class='col-4 text-end header-nav')
            ul(class='d-none d-md-inline-block m-0 p-0')
                li 
                    a(href='/' class='nav-redir header-link') Home
                li
                    a(href='/stories' class='nav-redir header-link') Stories
        div#brand(class='col-4 text-center')
            a(href='/' class='nav-redir header-link') NRJohnson
                figure
                    img(src="/images/logo.png", alt="NRJohnson Logo")
        nav#headerNavRight(class='col-4 text-end header-nav right')
            ul(class='d-none d-md-inline-block m-0 p-0')
                li 
                    a(href='/map' class='nav-redir header-link') Map
                li
                    a(href='/contact' class='nav-redir header-link') Contact
        div#headerSocial(class='text-end d-none d-md-block')
            a(href='https://vocal.media/authors/nathanael-johnson' target='_blank' data-tip='Vocal')
                figure(class='social-link-img')
                    img(src="/images/vocal.svg", alt="Vocal")
            a(href='https://twitter.com/NRJohnson93' target='_blank' data-tip='Twitter')
                figure(class='social-link-img')
                    img(src="/images/twitter.svg", alt="Bootstrap Twitter")
            a(href='https://www.instagram.com/n_r__johnson/' target='_blank' data-tip='Instagram')
                figure(class='social-link-img')
                    img(src="/images/instagram.svg", alt="Bootstrap Instagram")
        