div#header
    div(class='row h-100')
        nav#headerNavLeft(class='col-4 text-end header-nav')
            ul(class='d-none d-sm-inline-block m-0 p-0 pe-5 pe-md-3 pe-lg-0')
                li 
                    a(href='/' class='nav-redir') Home
                li
                    a(href='/blog' class='nav-redir') Blog
        div#brand(class='col-4 text-center')
            a(href='/') NRJohnson
        nav#headerNavRight(class='col-4 text-end header-nav right')
            ul(class='d-none d-sm-inline-block m-0 p-0 ps-5 ps-md-3 ps-lg-0')
                li 
                    a(href='/map' class='nav-redir') Map
                li
                    a(href='/contact' class='nav-redir') Contact