div#header(data-loc='/' + route)
    div(class='row h-100')
        div#headerNavSelectorContainer(class='d-none d-sm-block')
        nav#headerNavLeft(class='col-4 text-end header-nav')
            ul(class='d-none d-sm-inline-block m-0 p-0')
                li 
                    a(href='/' class='nav-redir') Home
                li
                    a(href='/stories' class='nav-redir') Stories
        div#brand(class='col-4 text-center')
            a(href='/' class='nav-redir') NRJohnson
                figure
                    img(src="/images/logo.png", alt="NRJohnson Logo")
        nav#headerNavRight(class='col-4 text-end header-nav right')
            ul(class='d-none d-sm-inline-block m-0 p-0')
                li 
                    a(href='/map' class='nav-redir') Map
                li
                    a(href='/contact' class='nav-redir') Contact
        div#headerSocial(class='text-end d-none d-sm-block')
            a(href='https://vocal.media/authors/nathanael-johnson' target='_blank')
                figure(class='social-link-img')
                    img(src="/images/vocal.svg", alt="Vocal")
            a(href='https://twitter.com/NRJohnson93' target='_blank')
                figure(class='social-link-img')
                    img(src="/images/twitter.svg", alt="Twitter")
            a(href='https://www.instagram.com/n_r__johnson/' target='_blank')
                figure(class='social-link-img')
                    img(src="/images/instagram.svg", alt="Instagram")
        