div#mobileMenu(class='d-sm-none')
    div#toggle
        a#mobileToggle(href='#mainBody' class="mobile-toggle")
            div(class="bar1")
            div(class="bar2")
            //- div(class="bar3")
    a#mobileNavBack(class='mobile-nav-back' href='#')
    nav#mobileNav
        a(href='/' class='mobile-nav-link nav-redir')
            span Home
        a(href='/stories' class='mobile-nav-link nav-redir')
            span Stories
        a(href='/map' class='mobile-nav-link nav-redir')
            span Map
        a(href='/contact' class='mobile-nav-link nav-redir')
            span Contact
        div(class='mobile-selector')
            span
    