div#mobileMenu(class='d-sm-none')
    div#toggle
        a#mobileToggle(href='#mainBody' class="mobile-toggle")
            div(class="bar1")
            div(class="bar2")
            //- div(class="bar3")
    a#mobileNavBack(class='mobile-nav-back' href='#')
    nav#mobileNav
        a(href='/' class='mobile-nav-link nav-redir')
            span Home
        a(href='/stories' class='mobile-nav-link nav-redir')
            span Stories
        a(href='/map' class='mobile-nav-link nav-redir')
            span Map
        a(href='/contact' class='mobile-nav-link nav-redir')
            span Contact
        div(class='mobile-selector')
            span
    div#mobileSocial
        a(href='https://vocal.media/authors/nathanael-johnson' target='_blank')
            figure(class='mobile-men-social')
                img(src="/images/vocal.svg", alt="Vocal")
        a(href='https://twitter.com/NRJohnson93' target='_blank')
            figure(class='mobile-men-social')
                img(src="/images/twitter.svg", alt="Twitter")
        a(href='https://www.instagram.com/n_r__johnson/' target='_blank')
            figure(class='mobile-men-social')
                img(src="/images/instagram.svg", alt="Instagram")
    