@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@100;300;400;700&display=swap');
:root {
    --canvas: #EBF0F5;
    --accent: #0C3B5D;
}

body {
    background-color: var(--accent);
    /* background: linear-gradient(to top left, #40373F, #032059) */
}
img {
    width: 100%;
}

.container {
    position: relative;
    min-height: 100vh;
}
.row {
    width: 100%;
    margin: auto;
}

/* HEADER */
#header {
    position: relative;
    width: 100%;
    height: 4rem;
    font-family: 'Lato', sans-serif;
    z-index: 2;
}
#brand a {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    line-height: 1;
    color: var(--canvas);
    text-decoration: none;
    position: absolute;
    padding:1rem;
    background-color: var(--accent);
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - .15rem));
    z-index: 1;
}
#brand a figure {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
}
#brand a figure img {
    border-radius: 50%;
    border: .2rem solid var(--accent);
}
.header-nav {
    position: relative;
    padding: 0;
    z-index: 1;
}
.header-nav ul {
    position: absolute;
    font-weight: 400;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header-nav.right ul {
    left: 0;
    text-align: start;
}
.header-nav a {
    color: var(--canvas);
    text-decoration: none;
    padding: .5rem;
    
}
.header-nav li {
    list-style: none;
    display: inline-block;
    width: 5rem;
    text-align: center;
    
}
#headerNavSelectorContainer {
    position: absolute;
    width: 100%;
    height: 1rem;
    top: calc(50% - .4rem);
    background-color: var(--accent);
    padding: 0;
}
#headerNavSelectorContainer::after {
    content: "";
    display: block;
    position: absolute;
    height: 1rem;
    width: 4rem;
    top: .1rem;
    transform: translateX(-50%);
    opacity: 0;
    background: var(--canvas);
    transition: .25s;
    z-index: -1;
}
#header[data-loc='/'] #headerNavSelectorContainer::after {
    opacity: 1;
    left: calc(50% - 16.66666666% - 7.5rem);
    transition-timing-function: linear;
    transition: .25s;
}
#header[data-loc='/stories'] #headerNavSelectorContainer::after {
    opacity: 1;
    left: calc(50% - 16.66666666% - 2.5rem);
    transition-timing-function: linear;
    transition: .25s;
}
#header[data-loc='/map'] #headerNavSelectorContainer::after {
    opacity: 1;
    left: calc(50% + 16.66666666% + 2.5rem);
    transition-timing-function: linear;
    transition: .25s;
}
#header[data-loc='/contact'] #headerNavSelectorContainer::after {
    opacity: 1;
    left: calc(50% + 16.66666666% + 7.5rem);
    transition-timing-function: linear;
    transition: .25s;
}
#headerSocial {
    position: absolute;
    right: -1.5rem;
    bottom: -4.5rem;
    width: fit-content;
    padding: 0 0 .3rem 0;
    z-index: 1;
}
#headerSocial figure {
    margin: 0;
}
#headerSocial a {
    margin: 0;
}

.social-link-img {
    height: 1.5rem;
    width: 1rem;
    padding-bottom: .5rem;
}
/* ^^ HEADER */

#body {
    position: relative;
    padding: 2rem 1rem 7rem 1rem;
    background-color: var(--canvas);
    min-height: calc(100vh - 4rem);
    border-radius: 2px 2px 0 0;
}
#content {
    transition: .25s;
}   
#content.fade {
    opacity: 0;
    transition: .25s;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}
@media (min-width: 576px) {
    .container {
        max-width: 32rem;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 45rem;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 58rem;
    }
}
@media (min-width: 1200px) {
    
}