block head
    title NRJohnson | Home

section(class='row')
    div(class='col-12 col-md-8')
        h1(class='main-head-smaller') Hello! My name is 
            br(class='d-block d-lg-block')
            | Nathanael Johnson.
        p I'm just a guy who really like stories!
        p place holder
            br
            | Even if you're not sure what a blog is, you've no doubt come across one at some point in time. Perhaps you've stumbled across a blog when you've searched "healthy dinner recipes".
            br
            | Alternatively, maybe you used a blog to get more information on SEO strategies.
            br
            | In fact, if you're reading this, guess what? You're on a blog. (Very meta, I know.)
            br
            | If your business doesn't have a blog, you might want to reconsider — B2B marketers who use blogs receive 67% more leads than those who do not, and blogs have been rated the 5th most trusted source for accurate online information.
            br
            | At its most basic, blogs can help you develop an online presence, prove yourself an expert in an industry, and attract more quality leads to all pages of your site.
            br
            | If you're contemplating creating a blog for your business, or simply want to know what one is, keep reading.
            br
            | Build your website with HubSpot's Free CMS Software
            br
            | What is a blog?
            br
            | First, let's go over a brief history -- in 1994, Swarthmore College student Justin Hall is credited with the creation of the first blog, Links.net. At the time, however, it wasn't considered a blog … just a personal homepage.
            br
            | In 1997, Jorn Barger, blogger for Robot Wisdom, coined the term "weblog", which was meant to describe his process for "logging the web" as he surfed the internet. The term "weblog" was shortened to "blog" in 1999, by programmer Peter Merholz.
            br
            | In the early stages, a blog was a personal web log or journal in which someone could share information or their opinion on a variety of topics. The information was posted reverse chronologically, so the most recent post would appear first.